<div class="container">
    <div class="row">
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Envor IT Solutions UG</a>
                </li>
                <li>
                    <a href="/version" target="_blank">Version {{data.Version}}</a>
                </li>
            </ul>
        </nav>
        <div class="credits ml-auto">
            <span class="copyright">
                © 2018 -
                <script>
                    document.write(new Date().getFullYear())
                </script>, made by 
                <a href="https://www.envor-it.de" target="_blank">Envor IT Solutions </a>
                - CDO: Christopher Hübner
            </span>
        </div>
    </div>
</div>