<div class="page-header header_image">
    <div class="filter"></div>
    <div class="content-center">
        <div class="motto">
            <h1 class="text-center secondary_color text_font_head">
                Felicia <br>
                Tattoo <br>
                Art <small class="secondary_color">UG</small>
            </h1>
        </div>
    </div>
</div>