<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip" title="Envor IT Solutions" data-placement="bottom">
                Envor IT Solutions
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" ata-nav-image="./assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a href="#service" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        Service
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a href="#clean_check" class="dropdown-item">
                            PC Clean & Check
                        </a>
                        <a href="#pc_builds" class="dropdown-item">
                            Customized PC Builds
                        </a>
                        <a href="#websites" class="dropdown-item">
                            Customized Websites
                        </a>
                        <a href="#more" class="dropdown-item">
                            More
                        </a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a href="#team" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                        Envor Team
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a href="#chris" class="dropdown-item">
                            "Chris" - Christopher Hübner (CDO)
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link">
                        Gallerie
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#pflege" class="nav-link">
                        PC Pflege Hinweise
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">
                        Kontakt
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>