@import "color";
@import "fonts";

/* Forms */
.input {
  font-size: $font-13;
  background-color: white;
  border: 1px solid $darkgrey;
  color: $chat-text;
}

.submitsagen {
  font-size: $font-12;
  font-weight: bold;
  color: $black;
  width: 100px;
  margin-left: 1px;
  margin-right: 2px;
  background-color: transparent;
}

.submitschreien {
  font-size: $font-12;
  font-weight: bold;
  color: $scream;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.submitclan {
  font-size: $font-12;
  font-weight: bold;
  color: $clan;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.submitgroup {
  font-size: $font-12;
  font-weight: bold;
  color: $group;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.submitworldsay {
  font-size: $font-12;
  font-weight: bold;
  color: $chat-text;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.submitwhisper {
  font-size: $font-12;
  font-weight: bold;
  color: $whisper;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.submitglobalchat {
  font-size: $font-12;
  font-weight: bold;
  color: $global;
  width: 100px;
  margin-right: 2px;
  background-color: transparent;
}

.textarea {
  font-size: $font-12;
  color: $darkgrey;
  background-color: transparent;
  border: 1px solid $black;
}

.select {
  font-size: $font-11;
  color: $darkgrey;
  background-color: transparent;
  height: 30px;
}

/* Bannerrad */
.bannerrad {
  border: 1px solid $banner;
}

/* Text Classes */
.chattext {
  color: $darkgrey;
  font-size: $font-14;
  font-family: $font-family;
}

.chattextscream {
  color: $scream;
  font-size: $font-14;
  font-family: $font-family;
}

.chattextclan {
  color: $clan;
  font-size: $font-14;
  font-family: $font-family;
}

.chattextgroup {
  color: $group;
  font-size: $font-14;
  font-family: $font-family;
}

.chattextwhisper {
  color: $whisper;
  font-size: $font-14;
  font-family: $font-family;
}

.chattextinfo {
  color: $black;
  font-size: $font-14;
  font-family: $font-family;
  font-style: italic;
  background-color: $info-BG;
}

.chatpics {
  display: none;
}

form#chatform > table {
  background-color: transparent !important;
}

input#chat_text.input {
  background-color: $white;
  font-weight: bold;
  font-size: $font-12;
}
