$primary-color : #525252;
$link-color    : #b10e03;
$link-visited  : #9400d3;
$link-active   : #3300ff;
$link-hover    : #ffb90f;

$banner        : #c85424;

$ok-color      : #32cd32;
$med-color     : #ee9a00;
$crit-color    : #ee0000;

/* Chat */
$chat-text     : #ffe1e1;
$scream        : #0099cc;
$group         : #fc7410;
$clan          : #d20000;
$whisper       : #006600;
$global        : #191970;
$text          : #8b8682;

/* Colors */
$white : white;
$black : black;
$brown : brown;

/* BG Colors */
$BG-color     : $white;
$Divider-BG   : #555555;
$Outline-BG   : #999999;
$menu-BG      : #f1f1f1;
$bright-BG    : #e5e5e5;
$v-bright-BG  : $menu-BG;
$r-bright-BG  : #fafafa;
$input-BG     : #787878;
$info-BG      : #8470ff;
