@import "chat.scss";
@import "inventory.scss";
@import "color.scss";
@import "fonts.scss";

/* Freewar Style - Envor - Darkness Layout - (c) Seruun - Welt 1 */
/* Created 12.03.2020 - Last Modified 28.03.2020 -> Seruun - Welt 1 */

/* Global */
p, ul, ol, div, td, span, layer, table, body {
  color: $primary-color;
  font-size: $font-12;
  font-family: $font-family;
}

p {
  color: $primary-color;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: $BG-color;
}

/* Table */
table {
  border: 0px;
  border-collapse: collapse;
}

/* Links */
a {
  text-decoration: none;
  font-weight: bold;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $link-visited;
}

a:active {
  color: $link-active;
}

a:hover {
  color: $link-hover;
}

/* Fonts */
h1, .medium, .small {
  color: $font-color;
}

h1 {
  font-size: $font-12;
  font-weight: bold;
  margin-bottom: 0;
}

.medium {
  font-size: $font-11;
}

.small {
  font-size: $font-10;
}

/* Colors */
.white {
  color: $white;
}

.fontcolor {
  color: $font-color;
}

/* BG Colors */
.body {
  background-color: $white;
}

.divider {
  background-color: $Divider-BG;
}

.outline {
  background-color: $Outline-BG;
}

.menubg {
  background-color: $menu-BG;
}

.brightbg {
  background-color: $bright-BG;
}

.verybrightbg {
  background-color: $v-bright-BG;
}

.reallybrightbg {
  background-color: $v-bright-BG;
}

.whitebg {
  background-color: $white;
}

.blackbg {
  background-color: $black;
}

.brownbg {
  background-color: $brown;
}
