@import "chat.scss";
@import "inventory.scss";
@import "color.scss";
@import "fonts.scss";

/* Freewar Style - Envor - Darkness Layout - (c) Seruun - Welt 1 */
/* Created 12.03.2020 - Last Modified 28.03.2020 -> Seruun - Welt 1 */

/* Global */
p, ul, ol, div, td, span, layer, table, body {
  color: $primary-color;
  font-size: $font-12;
  font-family: $font-family;
}

p {
  color: $primary-color;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background-color: $background-color;
}

/* Table */
table {
  border: 0px;
  border-collapse: collapse;
}
