@import "color";
@import "fonts";

/* Frames */
/* Freewar - Zocker EU Grafiken */
.framebannerbg:before {
  top: 0;
  left: 0;
  position: absolute;
  content: url("https://freewar.zocker.eu/grafik.php");
  width: 350px;
  height: 75px;
}

.framebannerbg:after {
  top: 0;
  left: 1300px;
  position: absolute;
  content: url("https://freewar.zocker.eu/vvvg.php");
  width: 350px;
  height: 75px;
}

.framebannerbg {
  background-color: $primary-color;
  background-image: url(img/envor.png);
  background-position: top center;
  background-repeat: no-repeat;
  border-bottom: 1px solid $black;
  background-size: contain;
}

.framemainbg {
  background-image: url(img/dark-stone.jpg);
  margin: 11px;
}

.frameitembg {
  margin: 10px;
  background-image: url(img/dark-stone.jpg);
  background-attachment: fixed;
}

.framemapbg {
  margin: 10px;
  margin-top: 5px;
  background-color: $grey;
  background-image: url(img/dark-stone.jpg);
}

.framemenubg {
  background-image: url(img/dark-stone.jpg);
}
