@import "color";
@import "fonts";

/* Frames */
/* Freewar - Zocker EU Grafiken */
.framebannerbg:before {
  top: 0;
  left: 0;
  position: absolute;
  content: url("https://freewar.zocker.eu/grafik.php");
  width: 350px;
  height: 75px;
}

.framebannerbg:after {
  top: 0;
  left: 1300px;
  position: absolute;
  content: url("https://freewar.zocker.eu/vvvg.php");
  width: 350px;
  height: 75px;
}

.framebannerbg {
  background:
          url(img/envor.png) top center no-repeat,
          url(img/dark-stone.jpg);
  border-bottom: 1px solid $black;
  background-size: contain;
}

.framemainbg, .frameitembg, .framemapbg, .framemenubg {
  background-color: transparent;
}

.framechattextbg {
  background-color: $v-bright-BG;
}
