@import "color";
@import "fonts";

/* Health */
.healthok {
  color: $ok-color;
}

.healthmed {
  color: $med-color;
}

.healthcritical {
  color: $crit-color;
}

/* Prozentuale LP-Färbung */
[id$="lpdisp"][data-percent*="50."] span, [id$="lpdisp"][data-percent="50"] span, [id$="lpdisp"][data-percent*="51."] span, [id$="lpdisp"][data-percent="51"] span, [id$="lpdisp"][data-percent*="52."] span, [id$="lpdisp"][data-percent="52"] span, [id$="lpdisp"][data-percent*="53."] span, [id$="lpdisp"][data-percent="53"] span, [id$="lpdisp"][data-percent*="54."] span, [id$="lpdisp"][data-percent="54"] span, [id$="lpdisp"][data-percent*="55."] span, [id$="lpdisp"][data-percent="55"] span, [id$="lpdisp"][data-percent*="56."] span, [id$="lpdisp"][data-percent="56"] span, [id$="lpdisp"][data-percent*="57."] span, [id$="lpdisp"][data-percent="57"] span, [id$="lpdisp"][data-percent*="58."] span, [id$="lpdisp"][data-percent="58"] span, [id$="lpdisp"][data-percent*="59."] span, [id$="lpdisp"][data-percent="59"] span, [id$="lpdisp"][data-percent*="60."] span, [id$="lpdisp"][data-percent="60"] span, [id$="lpdisp"][data-percent*="61."] span, [id$="lpdisp"][data-percent="61"] span, [id$="lpdisp"][data-percent*="62."] span, [id$="lpdisp"][data-percent="62"] span, [id$="lpdisp"][data-percent*="63."] span, [id$="lpdisp"][data-percent="63"] span, [id$="lpdisp"][data-percent*="64."] span, [id$="lpdisp"][data-percent="64"] span, [id$="lpdisp"][data-percent*="65."] span, [id$="lpdisp"][data-percent="65"] span, [id$="lpdisp"][data-percent*="66."] span, [id$="lpdisp"][data-percent="66"] span, [id$="lpdisp"][data-percent*="67."] span, [id$="lpdisp"][data-percent="67"] span, [id$="lpdisp"][data-percent*="68."] span, [id$="lpdisp"][data-percent="68"] span, [id$="lpdisp"][data-percent*="69."] span, [id$="lpdisp"][data-percent="69"] span, [id$="lpdisp"][data-percent*="70."] span, [id$="lpdisp"][data-percent="70"] span, [id$="lpdisp"][data-percent*="71."] span, [id$="lpdisp"][data-percent="71"] span, [id$="lpdisp"][data-percent*="72."] span, [id$="lpdisp"][data-percent="72"] span, [id$="lpdisp"][data-percent*="73."] span, [id$="lpdisp"][data-percent="73"] span, [id$="lpdisp"][data-percent*="74."] span, [id$="lpdisp"][data-percent="74"] span, [id$="lpdisp"][data-percent*="75."] span, [id$="lpdisp"][data-percent="75"] span, [id$="lpdisp"][data-percent*="76."] span, [id$="lpdisp"][data-percent="76"] span, [id$="lpdisp"][data-percent*="77."] span, [id$="lpdisp"][data-percent="77"] span, [id$="lpdisp"][data-percent*="78."] span, [id$="lpdisp"][data-percent="78"] span, [id$="lpdisp"][data-percent*="79."] span, [id$="lpdisp"][data-percent="79"] span, [id$="lpdisp"][data-percent*="80."] span, [id$="lpdisp"][data-percent="80"] span, [id$="lpdisp"][data-percent*="81."] span, [id$="lpdisp"][data-percent="81"] span, [id$="lpdisp"][data-percent*="82."] span, [id$="lpdisp"][data-percent="82"] span, [id$="lpdisp"][data-percent*="83."] span, [id$="lpdisp"][data-percent="83"] span, [id$="lpdisp"][data-percent*="84."] span, [id$="lpdisp"][data-percent="84"] span, [id$="lpdisp"][data-percent*="85."] span, [id$="lpdisp"][data-percent="85"] span, [id$="lpdisp"][data-percent*="86."] span, [id$="lpdisp"][data-percent="86"] span, [id$="lpdisp"][data-percent*="87."] span, [id$="lpdisp"][data-percent="87"] span, [id$="lpdisp"][data-percent*="88."] span, [id$="lpdisp"][data-percent="88"] span, [id$="lpdisp"][data-percent*="89."] span, [id$="lpdisp"][data-percent="89"] span, [id$="lpdisp"][data-percent*="90."] span, [id$="lpdisp"][data-percent="90"] span, [id$="lpdisp"][data-percent*="91."] span, [id$="lpdisp"][data-percent="91"] span, [id$="lpdisp"][data-percent*="92."] span, [id$="lpdisp"][data-percent="92"] span, [id$="lpdisp"][data-percent*="93."] span, [id$="lpdisp"][data-percent="93"] span, [id$="lpdisp"][data-percent*="94."] span, [id$="lpdisp"][data-percent="94"] span, [id$="lpdisp"][data-percent*="95."] span, [id$="lpdisp"][data-percent="95"] span, [id$="lpdisp"][data-percent*="96."] span, [id$="lpdisp"][data-percent="96"] span, [id$="lpdisp"][data-percent*="97."] span, [id$="lpdisp"][data-percent="97"] span, [id$="lpdisp"][data-percent*="98."] span, [id$="lpdisp"][data-percent="98"] span, [id$="lpdisp"][data-percent*="99."] span, [id$="lpdisp"][data-percent="99"] span, [id$="lpdisp"][data-percent="100"] span {
  color: $ok-color;
}

[id$="lpdisp"][data-percent*="10."] span, [id$="lpdisp"][data-percent="10"] span, [id$="lpdisp"][data-percent*="11."] span, [id$="lpdisp"][data-percent="11"] span, [id$="lpdisp"][data-percent*="12."] span, [id$="lpdisp"][data-percent="12"] span, [id$="lpdisp"][data-percent*="13."] span, [id$="lpdisp"][data-percent="13"] span, [id$="lpdisp"][data-percent*="14."] span, [id$="lpdisp"][data-percent="14"] span, [id$="lpdisp"][data-percent*="15."] span, [id$="lpdisp"][data-percent="15"] span, [id$="lpdisp"][data-percent*="16."] span, [id$="lpdisp"][data-percent="16"] span, [id$="lpdisp"][data-percent*="17."] span, [id$="lpdisp"][data-percent="17"] span, [id$="lpdisp"][data-percent*="18."] span, [id$="lpdisp"][data-percent="18"] span, [id$="lpdisp"][data-percent*="19."] span, [id$="lpdisp"][data-percent="19"] span, [id$="lpdisp"][data-percent*="20."] span, [id$="lpdisp"][data-percent="20"] span, [id$="lpdisp"][data-percent*="21."] span, [id$="lpdisp"][data-percent="21"] span, [id$="lpdisp"][data-percent*="22."] span, [id$="lpdisp"][data-percent="22"] span, [id$="lpdisp"][data-percent*="23."] span, [id$="lpdisp"][data-percent="23"] span, [id$="lpdisp"][data-percent*="24."] span, [id$="lpdisp"][data-percent="24"] span, [id$="lpdisp"][data-percent*="25."] span, [id$="lpdisp"][data-percent="25"] span, [id$="lpdisp"][data-percent*="26."] span, [id$="lpdisp"][data-percent="26"] span, [id$="lpdisp"][data-percent*="27."] span, [id$="lpdisp"][data-percent="27"] span, [id$="lpdisp"][data-percent*="28."] span, [id$="lpdisp"][data-percent="28"] span, [id$="lpdisp"][data-percent*="29."] span, [id$="lpdisp"][data-percent="29"] span, [id$="lpdisp"][data-percent*="30."] span, [id$="lpdisp"][data-percent="30"] span, [id$="lpdisp"][data-percent*="31."] span, [id$="lpdisp"][data-percent="31"] span, [id$="lpdisp"][data-percent*="32."] span, [id$="lpdisp"][data-percent="32"] span, [id$="lpdisp"][data-percent*="33."] span, [id$="lpdisp"][data-percent="33"] span, [id$="lpdisp"][data-percent*="34."] span, [id$="lpdisp"][data-percent="34"] span, [id$="lpdisp"][data-percent*="35."] span, [id$="lpdisp"][data-percent="35"] span, [id$="lpdisp"][data-percent*="36."] span, [id$="lpdisp"][data-percent="36"] span, [id$="lpdisp"][data-percent*="37."] span, [id$="lpdisp"][data-percent="37"] span, [id$="lpdisp"][data-percent*="38."] span, [id$="lpdisp"][data-percent="38"] span, [id$="lpdisp"][data-percent*="39."] span, [id$="lpdisp"][data-percent="39"] span, [id$="lpdisp"][data-percent*="40."] span, [id$="lpdisp"][data-percent="40"] span, [id$="lpdisp"][data-percent*="41."] span, [id$="lpdisp"][data-percent="41"] span, [id$="lpdisp"][data-percent*="42."] span, [id$="lpdisp"][data-percent="42"] span, [id$="lpdisp"][data-percent*="43."] span, [id$="lpdisp"][data-percent="43"] span, [id$="lpdisp"][data-percent*="44."] span, [id$="lpdisp"][data-percent="44"] span, [id$="lpdisp"][data-percent*="45."] span, [id$="lpdisp"][data-percent="45"] span, [id$="lpdisp"][data-percent*="46."] span, [id$="lpdisp"][data-percent="46"] span, [id$="lpdisp"][data-percent*="47."] span, [id$="lpdisp"][data-percent="47"] span, [id$="lpdisp"][data-percent*="48."] span, [id$="lpdisp"][data-percent="48"] span, [id$="lpdisp"][data-percent*="49."] span, [id$="lpdisp"][data-percent="49"] span {
  color: $med-color;
}

[id$="lpdisp"] span {
  color: $crit-color;
}

/* Tasks */
a[href*="&buyuser=104748&"] {
  color: $buy !important;
}

a[class="fastattack"] {
  font-size: 16px;
  color: $fastattack
}

a[href*="main.php?finish=1"] {
  font-size: 16px;
  color: $darkred;
}

a[href*="main.php?action=take&"] {
  font-size: 16px;
  color: $darkred
}

a[href*="main.php?arrive_eval=upgrade"] {
  font-size: 1px
}

/* Statusanzeige */
span[title*="(2 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(1 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(0 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(wenige Sekunden)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(Noch 2 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(Noch 1 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(Noch 0 Minuten)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="(Noch wenige Sekunden)"] {
  text-decoration: blink;
  font-weight: bold;
}

span[title*="()"] {
  text-decoration: blink;
  font-weight: bold;
}

/* Item Filter */
.itemamount_zero ~ .itemname {
  font-size: $font-12;
}

/* Tausenderpunkte XP */
.hidden1000sep {
  display: inline !important;
  color: $primary-color;
}

/* Seismic Symbol in der Mitte */
.seismic {
  transform: translate(16px, 0px) !important
}

/* Punkt hinterm Schnellzauberset */
.fast_spell_set:after {
  content: "."
}

/* SHORTINV */

/* verkürztes Inventar */
p.listitemrow {
  position: relative;
  font-size: 0px;
}

p.listitemrow a[href*="action=activate"] {
  height: 12px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
}

p.listitemrow b {
  font-size: 12px;
  color: $black;
}

.itemamount {
  font-size: 11px;
  margin-right: 3px;
  font-weight: bold;
  color: $darkred;
}

.itemmagic {
  font-size: 11px;
  margin-left: 3px;
  color: $green;
  font-weight: bold;
}

.itemequipped {
  color: $clan !important;
  font-weight: bold;
}

.iteminventorypics {
  display: none;
}

body.frameitembg div img {
  display: none;
}

p.listitemrow span.medium {
  font-size: $font-10;
}

p.listitemrow span.medium a {
  font-size: $font-9;
  height: 9px;
}

p.listitemrow a {
  font-size: $font-10;
  height: 10px;
}

p.listitemrow a:after {
  content: " ";
}

#filterrow {
  padding: 2px;
  padding-left: 5px;
  background-image: none;
  background-color: $chat-text;
}

#filterrow b {
  font-size: $font-10;
}

#filterrow:before {
  color: $primary-color;
}

/* Charakter-Info verkÃ¼rzen */
.frameitembg p.listrow[id^="listrow_"]:not(#listrow_status) {
  white-space: nowrap;
  overflow: hidden;
  max-width: 260px;
}

#listrow_special {
  background-color: transparent;
  border: medium none;
  display: block;
  overflow: hidden;
  position: absolute;
  right: 11px;
  margin-top: -17px;
  width: 30px;
}

.listrow {
  background-color: $primary-color;
  padding: 1px;
}

#listrow_attackp .valueincreased {
  padding-right: 1000px;
}

#listrow_attackw, #listrow_defensew {
  right: 5px;
  font-size: 0;
  font-weight: bold;
  background-color: transparent;
  margin-top: -17px;
  max-width: 200px;
  position: absolute;
}

#listrow_lifep > b, #listrow_int > b, #listrow_attackp > b, #listrow_defensep > b, #listrow_ring > b {
  display: none;
}

#listrow_attackw a {
  font-size: 0;
}

#listrow_attackw a:before {
  content: "A-Waffe";
  font-size: $font-11;
}

#listrow_attackp:before {
  content: "A: ";
  font-weight: bold;
  padding-left: 0;
}

#listrow_defensew a {
  font-size: 0;
}

#listrow_defensew a:before {
  content: "V-Waffe";
  font-size: $font-11;
}

#listrow_defensep:before {
  content: "V: ";
  font-weight: bold;
  padding-left: 0;
}

#listrow_defensew:after, #listrow_attackw:after, #listrow_ring:after {
  margin-right: 5px;
}

#listrow_ring:before {
  content: "F: ";
  font-weight: bold;
  padding-left: 0;
}


#listrow_int:before {
  content: "Int: ";
  font-weight: bold;
  padding-left: 10px;
}

#listrow_int span {
  position: absolute;
  right: $font-11;
}

#listrow_int span:after {
  color: $black;
  font-weight: bold;
  content: " Speed";
}

#listrow_int {
  background-color: transparent;
  max-width: 0 !important;
  margin-top: -17px;
  text-align: right !important;
}

#listrow_money {
  margin-top: -35px;
  margin-bottom: 17px;
}

#listrow_lifep:before {
  content: "LP: ";
  font-weight: bold;
}

#listrow_lifep {
  margin-top: 18px !important;
}

#listrow_char_mission {
  font-size: $font-12;
  margin-top: -15px;
  position: absolute;
  right: 10px;
}

#listrow_char_mission a[href*="ability"] {
  height: 12px;
  width: 0;
  color: transparent;
  font-size: 0.001% !important;
  margin-top: 2px !important;
}

#listrow_char_mission a[href*="ability"]:before {
  content: "Charas ";
  color: $darkred !important;
  font-size: 12px;
}

#listrow_char_mission a[href*="ability"] span {
  border: 2px solid transparent !important;
  margin-top: -8px;
}

#listrow_char_mission a:last-of-type, #listrow_aka_battlep b:last-of-type:not(:first-of-type) {
  color: transparent;
  font-size: 0.001%;
}

#listrow_char_mission a:last-of-type:before {
  color: $darkred;
  content: "Auftrag";
  font-size: 12px;
  padding-right: 5px;
}

#listrow_aka_battlep b:first-of-type:not(:last-of-type) {
  display: inline-block;
  height: 10px;
  margin-right: 3px;
  overflow: hidden;
  width: 18px;
}

#listrow_aka_battlep b:last-of-type:not(:first-of-type):before {
  color: black;
  content: "KP: ";
  font-size: $font-10;
  font-weight: bold;
}

#listrow_aka_battlep b:first-of-type:not(:last-of-type):after {
  content: ":";
  font-weight: bold;
  left: 29px;
  position: absolute;
}

.valueincreased {
  color: $white !important;
  font-weight: bold;
}
