@import "color";
@import "fonts";

/* Auftrags Npc */

/* temporale Falter */
#mapx108y77 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx109y76 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx111y77 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx112y79 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx113y79 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx114y81 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y80 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx116y79 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx119y79 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* Onlo-Skelette */
#mapx70y105 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx70y108 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx71y105 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx71y107 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx72y106 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx73y105 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx73y106 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx74y104 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* Blattaliske */
#mapx119y111 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx119y114 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx119y115 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx120y111 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx120y114 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx121y111 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx121y114 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx121y115 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* lebende Ã„ste */
#mapx-599y-448 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-597y-448 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-596y-449 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-595y-448 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* Ektrofrone */
#mapx55y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx57y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx58y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx58y91 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx59y84 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx59y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx59y92 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx59y93 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx60y87 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx60y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx60y92 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* untote BÃ¼rger */
#mapx80y87 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx81y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx81y89 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx82y87 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx82y90 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx84y88 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-196y-96 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-193y-98 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx-185y-94 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* Ratten */
#mapx91y96 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx93y95 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx93y97 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx94y98 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

#mapx113y104 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx114y99 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx114y103 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx114y107 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y98 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y100 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y104 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y106 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx115y108 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx116y105 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx116y107 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx116y108 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx117y108 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx118y107 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx118y108 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }

/* Koloa-KÃ¤fer */
#mapx85y99 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx86y100 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
#mapx87y99 a:after{content: url(img/bignpc.png); width: 5px; position: absolute; right: 2px; top: 2px; }
