@import "color";
@import "fonts";

/* Auftrags Npc */

/* temporale Falter */
#mapx108y77 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx109y76 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx111y77 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx112y79 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx113y79 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx114y81 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y80 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx116y79 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx119y79 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Onlo-Skelette */
#mapx70y105 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx70y108 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx71y105 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx71y107 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx72y106 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx73y105 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx73y106 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx74y104 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Blattaliske */
#mapx119y111 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx119y114 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx119y115 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx120y111 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx120y114 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx121y111 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx121y114 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx121y115 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* lebende Ãste */
#mapx-599y-448 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-597y-448 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-596y-449 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-595y-448 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Ektrofrone */
#mapx55y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx57y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx58y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx58y91 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx59y84 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx59y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx59y92 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx59y93 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx60y87 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx60y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx60y92 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* untote Bürger */
#mapx80y87 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx81y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx81y89 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx82y87 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx82y90 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx84y88 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-196y-96 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-193y-98 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx-185y-94 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Ratten */
#mapx91y96 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx93y95 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx93y97 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx94y98 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx113y104 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx114y99 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx114y103 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx114y107 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y98 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y100 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y104 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y106 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx115y108 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx116y105 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx116y107 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx116y108 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx117y108 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx118y107 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx118y108 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* Koloa-KÃ¤fer */
#mapx85y99 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx86y100 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

#mapx87y99 a:after {
  content: url(img/bignpc.png);
  width: 5px;
  position: absolute;
  right: 2px;
  top: 2px;
}

/* NO-NPC  Markierung der Felder ohne NPCs */
#mapx84y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y104 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx88y105 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y123 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx107y124 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y125 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y105 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx85y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx85y108 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx125y88 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx80y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx81y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx81y84 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y82 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y84 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx83y81 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx83y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx85y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y85 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx65y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx66y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx67y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx61y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx62y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx63y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y120 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx58y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx56y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx60y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y88 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx106y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx109y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx107y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx106y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx108y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx108y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx1010y1004 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx1006y1005 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx1007y1006 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx81y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx78y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx80y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx74y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx83y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx79y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y104 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y93 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y88 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx88y89 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y89 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y89 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y92 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx73y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx72y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx71y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx70y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx93y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx88y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx88y118 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y118 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx66y85 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx62y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx99y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx99y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx103y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx101y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx99y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx102y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx58y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx122y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx114y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx113y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx119y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx116y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx118y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx122y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx116y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx120y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx116y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx118y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx120y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx121y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx114y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx115y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx118y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx44y76 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx49y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y82 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y84 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y84 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y88 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx57y85 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx138y114 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx134y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx133y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx132y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx138y118 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx78y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx79y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx80y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx83y118 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx80y119 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx99y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx103y119 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y114 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y117 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx499y53 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx503y53 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx501y54 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx506y55 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx507y55 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx500y56 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx501y57 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx507y57 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx508y57 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y104 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y104 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx106y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx113y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx100y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx102y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y108 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx110y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx102y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx108y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx112y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx114y114 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx110y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx114y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx79y105 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx79y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y110 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx79y110 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx84y110 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y106 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y108 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx95y108 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx96y110 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx95y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx72y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx74y105 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx72y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx74y107 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx129y85 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx90y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx85y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx78y88 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y89 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx78y89 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx71y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx73y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx72y92 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y92 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx74y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx76y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx77y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx91y95 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx89y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx60y111 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx62y113 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx57y115 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx65y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y109 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx65y112 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx68y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx69y116 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx109y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx112y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx118y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx122y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx110y93 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx113y93 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx119y93 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx115y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx117y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx111y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx112y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y90 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx97y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx98y91 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx74y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y86 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx75y87 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx82y92 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx80y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx83y94 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx92y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx93y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y100 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y102 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx94y103 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx95y104 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx111y82 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx110y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx111y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx112y83 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx106y86 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx52y75 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx51y75 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx51y77 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx58y70 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx86y78 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx87y76 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx41y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx42y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx43y97 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx50y99 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx51y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx47y101 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y131 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx103y132 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y132 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx103y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx106y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx107y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx101y134 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx104y134 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx105y134 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx107y134 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx102y135 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx101y135 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx184y139 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx186y136 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx191y129 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx191y136 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx198y136 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx199y133 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx252y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx258y96 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx259y98 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx147y118 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

#mapx78y93 a:after {
  content: url(img/nonpc.png);
  width: 5px;
  position: absolute;
  left: 2px;
  top: 2px;
}

/* Aggressive NPC's auf der Karte */
.framemapbg td[id^="map"] a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
}

/* > > A3 */
#mapx-426y-298 a:after, #mapx-428y-297 a:after, #mapx-427y-297 a:after, #mapx-425y-297 a:after, #mapx-427y-296 a:after, #mapx-426y-296 a:after {
  content: "3";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A9 */
#mapx-827y-914 a:after, #mapx-826y-912 a:after, #mapx-823y-912 a:after, #mapx-825y-911 a:after, #mapx-822y-910 a:after, #mapx-826y-908 a:after, #mapx-823y-906 a:after, #mapx-824y-905 a:after, #mapx-826y-904 a:after, #mapx-823y-903 a:after {
  content: "9";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A10 - 2630 */
#mapx-826y-916 a:after, #mapx-825y-914 a:after, #mapx-827y-913 a:after, #mapx-825y-912 a:after, #mapx-825y-910 a:after, #mapx-827y-909 a:after, #mapx-823y-908 a:after, #mapx-823y-905 a:after, #mapx-826y-903 a:after, #mapx-230y-538 a:after {
  content: "10 - 2630";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A12 */
#mapx-348y-699 a:after, #mapx-347y-699 a:after, #mapx-349y-698 a:after, #mapx-348y-698 a:after, #mapx-347y-698 a:after, #mapx-349y-697 a:after, #mapx-348y-697 a:after, #mapx-347y-697 a:after, #mapx-346y-697 a:after, #mapx-348y-696 a:after, #mapx-347y-696 a:after, #mapx-346y-696 a:after, #mapx-348y-695 a:after, #mapx-347y-695 a:after, #mapx-346y-695 a:after, #mapx-345y-695 a:after, #mapx-348y-694 a:after, #mapx-347y-694 a:after, #mapx-346y-694 a:after, #mapx-345y-694 a:after, #mapx-348y-693 a:after, #mapx-347y-693 a:after, #mapx-346y-693 a:after, #mapx-345y-693 a:after {
  content: "12";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A25 */
#mapx-226y-540 a:after, #mapx-228y-539 a:after, #mapx-224y-539 a:after, #mapx-229y-538 a:after, #mapx-227y-538 a:after, #mapx-225y-538 a:after {
  content: "25";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A25 / 710 */
#mapx-224y-541 a:after {
  content: "25 / 710";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A34 */
#mapx-605y-267 a:after, #mapx-608y-266 a:after, #mapx-607y-266 a:after, #mapx-606y-266 a:after, #mapx-605y-266 a:after, #mapx-604y-265 a:after, #mapx-610y-264 a:after, #mapx-602y-264 a:after, #mapx-601y-263 a:after, #mapx-613y-262 a:after, #mapx-611y-262 a:after, #mapx-609y-262 a:after, #mapx-607y-262 a:after, #mapx-600y-262 a:after, #mapx-606y-261 a:after, #mapx-605y-260 a:after, #mapx-601y-260 a:after {
  content: "34";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A35 */
#mapx-428y-298 a:after, #mapx-424y-298 a:after, #mapx-426y-297 a:after, #mapx-425y-296 a:after {
  content: "35";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A35 / 1040 */
#mapx-426y-299 a:after {
  content: "35 / 1040";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A271 */
#mapx-825y-915 a:after, #mapx-826y-914 a:after, #mapx-826y-911 a:after, #mapx-827y-910 a:after, #mapx-825y-909 a:after, #mapx-822y-909 a:after, #mapx-825y-904 a:after, #mapx-826y-918 a:after {
  content: "271";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A465 */
#mapx-738y-230 a:after, #mapx-736y-230 a:after, #mapx-738y-229 a:after, #mapx-737y-229 a:after, #mapx-736y-229 a:after, #mapx-740y-228 a:after, #mapx-739y-228 a:after, #mapx-737y-228 a:after, #mapx-736y-227 a:after {
  content: "465";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A666 */
#mapx-199y-829 a:after, #mapx-199y-828 a:after, #mapx-198y-828 a:after, #mapx-199y-827 a:after {
  content: "666";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A710 */
#mapx-225y-541 a:after {
  content: "710";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A1630 */
#mapx-223y-541 a:after, #mapx-225y-540 a:after {
  content: "1630";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

/* > > A2710 */
#mapx-821y-910 a:after {
  content: "2710";
  z-index: 2;
  width: 50px;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 120%;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $clan;
  background: $agr-BG;
  border-bottom: 1px solid $agr-BB;
  opacity: 0.70;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}
